/* Background Image */

body {
    background-color: black;
}

.rightbox {
    color: white;
    font-size: 200%;
    border: 1px solid white;
}

.leftbox {
    color: white;
    font-size: 200%;
    border: 1px solid white;
}

img {
  margin: auto;
  display: block;
}

audio {
  margin: auto;
  display: block;
}

.bottom-buffer {
   padding-bottom: 100px;
   align-items: auto;
}

.header {
  text-align: center;
  padding-bottom: 2%;
  color: gold;
  font-size: 400%;
}
